/* header  */
header{
    /* margin-top: 33px; */
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    padding: 16px 0;  
    z-index: 1;
    transition: all 0.5s ease-out;
    
}
header.sticky{
    background-color: #464646;
    opacity: 1;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.header-logo{
    font-weight: 600;
}
.header-logo__body {
    display: flex;
    margin-left: 12px;
    align-items: center;
     position: relative;
    margin-top: -12px;
    text-decoration: none;
}
.header-logo__body span {
    font-size: 31px;
    color: #fafafa;
   
    
}
.header-logo__body span:last-child{
    color: var(--primary-color);
    margin-left: 10px;
}
.header-logo__body img{
    position: absolute;
    left: 0%;
    top: 51%;
    transform: translateY(-50%);
    width: 22px;
}
ul.menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.menu-list li{
    position: relative;
}
.menu-list li a{
    text-decoration: none;
    padding:10px;
    color: #fefefe;
    display: inline-block;
    position: relative;
    margin: 0 2px;
}
.menu-list li a::after{
    content: "";
  position: absolute;
  bottom: 0;
  left: auto; 
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: .25s;
}
.menu-list li a:hover{
    color: #d1cdcd;
}
.menu-list li a:hover:after{
    width: 100%;
    left: 0;
    right: auto;
}
.menu-list li:hover .sub-menu{
    display: flex;
}
.sub-menu{

    position: absolute;
    background-color:#fafafa;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 40%);
    left: -350%;
    top: 150%;
    
    /* display:flex; */
    
    display: none;
    transform-origin: 32% top;
    animation: subMenuGrowth 0.5s ease-in ;
}
@keyframes subMenuGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;

    }
}
.sub-menu::before{
    content: "";
    position: absolute;
    border-width: 18px;
    left: 30%;
    border-style: solid;
    border-color: transparent transparent  #fafafa transparent;
    top: 0;
    transform: translateY(-100%);
}
.sub-menu::after{
    content: "";
    position: absolute;
    left: 28%;
    border-style: solid;
    border-color: transparent;
    top: 0;
    transform: translateY(-100%);
    width: 70px;
    height: 25px;
}
.sub-menu__item{
    padding: 50px 25px 25px 25px;
    
}
.sub-menu__item-img{
    width: 167px;
    margin-bottom: 16px;
}
.sub-menu__item-img img{
    width: 100%;
}
.sub-menu__item-body{
    padding: 0px 15px;
}
.sub-menu__item-body h3{
    margin-bottom: 16px;
    font-size: 20px;
}

.sub-menu__item-body p{
    color: #717983;
    font-weight: 500;
}

/* slider  */
.slider{
    background: url(../imgs/healthy-vegetables-wooden-table_1150-38007.webp) no-repeat center/cover ;
    padding-top: 961px;
}


.slider-content{
    width: 500px;
    background-color: transparent;
    color: white;
    text-shadow: 1px 0px 0px rgb(0 0 0 / 40%);
    transform: translateY(-200%);
    
}
.slider-content span{
    color: var(--primary-color);
}
.slider-heading{
    font-size: 46px;
    margin-bottom: 40px;
}
.slider-content p{
    margin-bottom: 40px;
    
}
.button_info:hover{
    background-color: var(--primary-color);
    color: white;
    
}
.active{
    background-color: var(--primary-color);
    color: white;
}
/* features product */
.featured-products{
    position: relative;
    margin-bottom: 60px;
}
.product__heading{
    margin-bottom: 16px;
    margin-top: 320px;

}
.product__item{
    padding: 25px 15px 25px 15px;
    text-align: center;
    transition: all 1s ease;
}

.product__item-img{
    position: relative;
}
.product__item-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
.product__item-liked {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2px 8px;
    font-size: 22px;
}
.product__item-liked.product__item-liked-active {
    color:red;
}
.product__item-name{
    color: var(--text-color);
    font-size: 20px;
}
.product__item-price{
    margin-bottom: 16px;
}

.btn__add{
    
    opacity: 0;
    
    transition: all 1s;
}

.product__item:hover{
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 20%);
}

.product__item:hover  .btn__add{
    
    opacity: 1;
} 


.btn__add:hover{
    background-color:var(--primary-color);
    transform: scale(0.9);
    color: white;
    opacity: 0.9;
}

/* top product */
.top-products{
   
    position: absolute;
  
    left: 0;
    right: 0;
    top: 0px;
    transform: translateY(-25%);
}

.top-product__item{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
}

.top-product-list:first-child .top-product__item {
    background-color: #ecf7c8;
    
}
.top-product-list:nth-child(2) .top-product__item {
    background-color: #f7c3c3;
    
}.top-product-list:last-child .top-product__item {
    background-color: #fddad4;
    
}

.top-product__item-img{
    width: 50%;
}
.top-product__item-img img{
    width: 100%;
    height: 135px;
}
.top-product__item-content{
    text-align: center;
    margin-top:18px 0;
    flex: 1;
}
.top-product__item-name{
    font-weight: 700;
    font-size: 23px;
    color: var(--primary-color);
    margin-bottom:18px;
    
}
.top-product__item-classify{
    color: #717983;
    font-size: 20px;
    margin-bottom:18px

}
.btn__shop-now{
   
    transition: all 1s;
}

.btn__shop-now:hover{
    background-color:var(--primary-color);
    transform: scale(0.9);
    color: white;
    opacity: 0.9;
}

/* main features */
.main-features{
    background-color: #25262a;

}
.features__item{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    
}
.features__item-icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 16px;
    font-size: 25px;
    margin-right: 15px;
}
.features__item-icon:hover{
    background-color:var(--primary-color)
}
.features__item-content{
    
}
.features__item-heading{
    font-size:22px
    
}
.features__item-sub-heading{
    font-size: 18px;
    color: var(--text-color);
}
/* lastests product */
.product.lastest-product {
    padding-bottom: 100px;
}
.product-lastest__heading {
    margin-bottom: 16px;
    margin-top: 120px;
}
/* our farmers */
.Our-farmers{
    background-color:#f6f7f9;
    padding-bottom: 100px;
}

/* blog */
.blog__items{

    background: url(../imgs/cachua.jpg) no-repeat center/cover;
}
.blog__item{
    color: var(--text-color);
    padding:30px 25px;
    text-shadow: 1px 0px 0px rgb(0 0 0 / 40%);

}
.blog__item-date{
    margin-bottom: 200px;
}
.blog__item-disc{
    margin-bottom: 50px;
}
button.btn-read-more {
    color: var(--text-color);
    border: none;
    background: transparent;
    font-size: 15px;
    outline: none;
}
.btn-read-more i{
    margin-left: 5px;
}

button.btn-read-more:hover{
    color:#6e6b6b;
}

/* next-page */

.next-page{
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.next-page div{
    padding: 8px 8px;
    margin: 12px;
    border: 1px solid var(--primary-color)
}
.next-page div.active{
    padding: 8px 24px;
    margin: 12px;
    border: 1px solid var(--primary-color);
    background-color: var(var(--primary-color));
}
/* footer */
.footer{
    background-color: #282828;
}
.footer-information{
    padding: 90px 0 30px;
    border-bottom: 2px solid #2f3031;
}
.footer__item{
    color: var(--text-color);
}
.footer__item-heading{
    color: rgb(226, 219, 219);
    font-size: 22px;
}
.footer__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__social a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
}
.footer__social a:hover{
    color: white;
}
.footer__item-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer__item-body-img{
   
    width: 30%;
    box-sizing: border-box;
    margin: 5px 0;
}
.footer__item-body-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.footer-endpage{
    padding: 25px 0;
}
.footer__owner{
    color: var(--text-color);
    margin: 0;

}
.footer__top-up{
    text-align: center;
}
.footer__top-up-icon{
    color: var(--primary-color);
    text-decoration: none;
    background-color: white;
    padding: 5.5px 10px;
    border-radius: 50%;
    margin:auto;
}
.footer__top-up-icon:hover{
    opacity: 0.8;
    color: var(--primary-color);
}
/*footer pay */
.pay__method{
    text-align: center;
}